*, ::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "SfProDisplayRegular"; src: url("./Font/SFPRODISPLAYREGULAR.OTF");
	/*
	font-family: "SfProDisplayBold"; font-weight: bold; src: url("./Font/SFPRODISPLAYBOLD.OTF");
	font-family: "SfProDisplayItalic"; font-weight: italic ; src: url("./Font/SFPRODISPLAYLIGHTITALIC.OTF");
	*/
}




body{
	background: #002a3a;
	font-family: "SfProDisplayRegular", Arial, Helvetica, sans-serif;
	height: 100vh;
	overflow-x: hidden;
	position: relative;
	cursor:url('./Logo_picto.cur'), pointer;
}

p{
	color: #002a3a;
	font-size:18px;
}

.textVert{
	color:#008aae;
}

.texteBlanc{
	color:#fff;
}

.texteCentre{
	text-align:center;
}


h1{
	font-family: "SfProDisplayRegular", sans-serif;
	font-size: 50px;
	color: #002a3a;
	text-align:center;
	padding:0px 0px 40px 0px;
}

h2{
	color:#002a3a;
	font-size:40px;
	text-align: center;
}


h3{
	text-decoration: bold;
}


.fondBleu{
	background-color: 002a3a;
	padding:80px 120px;
}


/* 
	###############################
			Chargement de la page
	###############################  
*/


.container-logo-accueil{
	height:20vh;
	width:100%;
	display: flex;
	align-items:center;
	justify-content: space-between;
	border: Opx solid #fff;
}

.logo{
	position:relative;
	opacity: 1;
	padding-top:20px;
	padding-left:30px;
	height:150px;
	width:230px;
}



.traductionAccueil{
	color:#FFF;
	margin-right:30px;
	position:relative;
}

.traductionAccueil:hover{
	text-decoration:underline;
}



.container-circle{
	height:65vh;
	width:100%;
	border: 0px solid #fff;
	display: flex;
	align-items:center;
	justify-content: center;
}



.cercle-3{
	display:flex;
	justify-content:center;
	align-items:center;
	border: solid 6px #fff;
	height:300px;
	width:300px;
	border-radius: 50%;
}


.animation-cercle{
	animation: animateCircle 1.5s linear infinite;
}

@keyframes animateCircle {
	0%{
		opacity: 1;
		transform: scale(1.0)
	}

	50%{
		opacity: 0.5;
		transform: scale(0.9)
	}
	100%{
		opacity: 1;
		transform: scale(1.0)
	}

}



.circle-2{
	display:flex;
	justify-content:center;
	align-items:center;
	height:250px;
	width:250px;
	background:linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,42,58,1) 35%, rgba(51,221,221,1) 100%);
	border-radius: 50%;
}

.circle-2 p{
	color:#fff;
}



.container-reseaux{
	height:15vh;
	width:100%;
	border: 0px solid #fff;
}

.reseaux-sociaux{
	height:100px;
	width:200px;
	color:#fff;
	display:flex;
	justify-content: space-around;
	align-items: center;
	margin:0 auto;
	position:relative;
}




/* 
	###############################
			Message de Bienvenue
	###############################  
*/



.FontMessageBienvenue{
	font-family: "SfProDisplayRegular", sans-serif;
	font-size: 50px !important;
	color: #fff !important;
}


.messageBienvenue{
	visibility: hidden;
}


.messageBienvenueActive{
	z-index: 1;
	position:absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height:90vh;
	width:100%;
	opacity:0;

}



.messageBienvenue h1{
	color:#fff;
}







/*
	###############################
			Video de présentation du cabinet
	###############################
*/

.video{
	width:100%;
	background:#f1f1f1;
	visibility: hidden;
	z-index:2;
}

.video.visible{
	visibility: visible;
}


/*
	###############################
			Les traitements
	###############################
*/


		/* 
			#######################################
				Blocs Traitements (CSS Grid + FlexBox)
			#######################################
		*/


		/* Mettre un display grid à tous les bloc */
		.Maladie-Paro-containers, .Implants-container, .container-Traitement-Visee, .containers-reconstruction-osseuse, .containers-accompagnement-traitements-ortho, .containers-exaction-dents-incluses{
			width:100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows:auto 1fr auto;
		}

		/* On met tous les "sous-blocs" en mode flex pour center */
		.bloc-Maladie-Paro, .Implants-bloc, .Traitement-visee-bloc, .reconstruction-osseuse-bloc, .bloc-accompagnement-traitements-ortho, .bloc-exaction-dents-incluses{
			display: flex;
			justify-content: center;
			align-items: flex-start;
			margin:3px;
			text-align: center;
			padding:30px 5px 0px 5px;
		}


		/* BgColor */
		.bloc-Maladie-Paro:not(:nth-child(1)), .Implants-bloc:not(:nth-child(1)), .Traitement-visee-bloc, .reconstruction-osseuse-bloc, .bloc-accompagnement-traitements-ortho, .bloc-exaction-dents-incluses{
			background:#faf9fe;
		}

		/* 1er bloc */
		#Maladie-Paro-bloc1, #Maladie-Paro-bloc6{
			grid-column: span 2;
		}



		/* 2eme bloc */
		.Implants-bloc{
			color:#008aae;    
		}

		#Implant-Bloc1{
			grid-column: span 2;
		}



		/* 4eme Bloc */
		.reconstruction-osseuse-bloc{
			color:#008aae;
		}

		/* 6eme bloc */
		.bloc-exaction-dents-incluses{
			color:#008aae;
		}








		/* 
			#######################################
				Accordeon
			#######################################
		*/


		p{
			margin-bottom:0px;
			padding-bottom:0px;
		}

		.containers-accordeon{
			background:linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,42,58,1) 35%, rgba(51,221,221,1) 100%);
		}


		.accordion {
			color: #fff;
			margin: 0px;
			width: 100%;
			border: none;
			text-align: center;
			outline: none;
			font-size: 30px;
			transition: 0.4s;
			padding:18px 0px;
		}



		.accordion:hover {
		text-decoration: underline;
		}

		.accordion:after {
		content: '\002B';
		color: #fff;
		font-weight: bold;
		float: right;
		margin-right:18px;
		
		}

		.toggle-sur-Moins:after {
		content: "\2212";
		}

		.textCache {
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
		text-align:left;
		}

		.textCache p{
			padding:10px 60px;
		}


		/* 
			#######################################
				Pop-Up Modal 
			#######################################
		*/

		.modal-open{
			padding:5px 10px;
			background-color: #faf9fe;
			color:#002a3ab3;
			border-radius:4px;
			outline:none;
			border:none;
			cursor:pointer;
		}


		.modal{
			display:none;
			position:fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background-color: rgba(0,0,0,0.4);
			z-index:1;
		}

		.modal-content{
			background-color: #fff;
			margin:15% auto;
			width:40%;
			padding:0px 5px;
			/* padding:8px 25px; */
			border-radius: 4px;
			z-index:4;
			text-align:center;
			height:200px;
			max-height:400px;
			overflow:scroll
		}


		.modal-header{
			font-weight: 500;
			padding:10px 0; 
			font-size:26px;
		}



		.material-icons{
			padding:-10px 0px;
		}



		.modal-body{
			color:#7b7b7b;
			padding:15px 0;
		}


		.modal-footer{
			padding:15px 0;
		}


		.modal-close{
			float:right;
			font-size:20px;
			background-color: #fff;
			border:0;
			outline:0;
			padding:0px 5px;
			border-radius:50%;
			cursor:pointer;
		}














































/* Première partie lors de l'entrée  */











.titre-debut{
	font-size: 50px;
	color: #002a3a;
	font-family: "SfProDisplayRegular", sans-serif;
}


.titre-debut span{
	position: relative;
}


.circle{
	height: 200px;
	width:200px;
	border-radius:50%;
	background: #002a3a;
	border: solid 2px #33dddd;
	cursor:pointer;
	padding: 85px 5px 0px 5px;
	text-align:center;
	color:#f1f1f1;
	z-index:100;
	margin:0 auto;
	margin-top: 7%;
	animation: animate 1.5s linear infinite;
}


.circle:hover{
	
	background: #faf9fe;
	border: solid 2px #33dddd;
	color:#002a3a;

}


@keyframes animate {
	0%{
		box-shadow: 0 0 0 0 rgba(0,206, 209, 0.7);
	}
	40%{
		box-shadow: 0 0 0 30px rgba(0,206, 209, 0);
	}
	80%{
		box-shadow: 0 0 0 50px rgba(0,206, 209, 0);
	}
	100%{
		box-shadow: 0 0 0 60px rgba(0,206, 209, 0);
	}

}


/* Video Bienvenue au Cabinet*/


 


.vert{
	height: 200px;
	width:100%;
	background-color: #002a3a;
	opacity: 1;
	}


	.welcome-cabinet
	{
		font-size:50px;
		color: #002a3a;
		text-align:center;
		padding:80px 30px;
	}

	.welcome-cabinet span{
		position:relative;
		color: #002a3a;
	}





/* Partie 2 */


	/* Video */

		.video{
			width:100%;
			background:#f1f1f1;
			visibility: hidden;
			z-index:2;
		}

		.video.visible{
			visibility: visible;
		}




	/* Header */

	/* Navbar */
		.navbar{
			position:fixed;
			width:100%;
			opacity:0;
			height: 70px;
			top:0;
			left:0;
			background:transparent;
		}

		.stickyin{
			background-color: #002a3a;
			animation: navbaropacityin 0.5s linear;
		}

		@keyframes navbaropacityin {
			0%{
				opacity: 0;
			}
			
			100%{
				opacity: 1;
			}
		}
		

		.stickyout{
			background:transparent
		}

		@keyframes navbaropacityout {
			0%{
				opacity: 1;
			}
			
			100%{
				opacity: 0;
			}
		}



		.navbar img{
			padding: 10px 0px 0px 20px;
		}


		.traduction{
			text-align:right;
			color:#fff;
			margin: -30px 30px 25px 0;
			font-size:15px;
		}

		.traduction:hover{
			text-decoration: underline;
			cursor:pointer;
		}

		









/* Les Traitements */

	/* 3 types de traitement */


		.h1BienvenuePerio{
			width:100%;
			padding: 80px 200px;
			background-color: #fff;
		}

		.h2Traitements{
			padding: 50px 0px 10px 0px;
			font-size:20px;
			visibility: hidden;
			text-align:center;
			color:#002a3a;
		}



		.traitementFdBlanc{
			margin-top:0px;
			padding:50px 0px;
			color: grey;
			text-align:center;
		}


/*

		.childTraitements{
			padding:70px 20px;
			text-align:center;
			vertical-align: top;
			visibility:visible;
		}




		.childTraitements:nth-child(1){
			position: relative;
			left:-600px;
			visibility: visible;
		}

		.childTraitements:nth-child(2){
			position: relative;
			bottom: -300px;;
			visibility: visible;
		}


		.childTraitements:nth-child(3){
			position: relative;
			left: 800px;;
			visibility: visible;
		}




		.childTraitements p{
			text-align:center;
		} 

*/	


	/* Traintement - deuxième partie (fond blanc) */

		



	


/* Containers-Maladie-Parondotale */	

	/* Titre */	

		.MaladieParodontale{
			background-color: #002a3a;
		}

		.h2Blanc{
			color:#fff;
			font-size:40px;
			text-align: center;
			padding: 50px 0px;
		}


	/* Texte explicatif */

		.texteBleuFdBlanc{
			text-align:center;
			background-color: #fff;
			padding:100px 150px;
		}


		.texteVertFdBlanc{
			text-align:center;
			background-color: #fff;
			padding:100px 150px;
			color: #008aae;
		}



	/* Tbl avec type de traitement Maladies Parodontales */

		.TableWidth100{
			width:100%;
			margin-top:-5px;
			background-color: #fff;
		}

		.tdBorderTextAlign{
			text-align: center;
			border:2px solid #fff;
			padding:60px 40px;
			background-color:#faf9fe;
		}

		
		.fdRoseTxtBleu{
			padding:60px 120px;
			text-align: center;
			background-color: #faf9fe ;
		}




/* 
	###############################
			Implants dentaires OLD
	###############################
*/

		/* Titre implants dentaires */

		.ImplantsDentaire{
			background-color: #008aae ;
		}






.EquipeAVotreEcoute{
	background-color: #fff;
}


.h2Bleu{
	padding: 60px 80px 20px 80px;
}

.TxtGris{
	color: grey;
	text-align:center;
	padding: 0px 300px 60px 300px;
}


/* Equipe */
	/* SVG */


.tailleSVG{
	height:300px;
	width:300px;
	margin:0 auto;
}


.dessinSVG{
border: solid 10px red;

}


.dessinSVG:hover{
	border: solid 10px blue;
	background-image: url("https://interactive-examples.mdn.mozilla.net/media/examples/lizard.png") ;
	}








/* Partie SVG */

.svg{
	width:100%;
	height: 1000px;
	margin-left:280px;
}

#equipe{
	filter: grayscale(0.8);
}

#Fond{
	filter: grayscale(0.8);
}


#Nom-5{
	filter: grayscale(1);
}

#Nom-5:hover{
	fill:#002A3A;
	filter: grayscale(0);
	cursor:pointer;
}


#Nom-4{
	filter: grayscale(1);
}

#Nom-4:hover{
	fill:#002A3A;
	filter: grayscale(0);
	cursor:pointer;
}


#Nom-3{
	filter: grayscale(1);
}

#Nom-3:hover{
	fill:#002A3A;
	filter: grayscale(0);
	cursor:pointer;
}


#Nom-2{
	filter: grayscale(1);
}

#Nom-2:hover{
	fill:#002A3A;
	filter: grayscale(0);
	cursor:pointer;
}


#Nom-1{
	filter: grayscale(1);
}


#Nom-1:hover{
	fill:#002A3A;
	filter: grayscale(0);
	cursor:pointer;
}




#Nom-5:hover .Nom-5-Span{
	visibility: visible;
}


title{
	background-color: black;
	font-size:18px;
}


/* 
	###############################
			Photo praticien individuelle
	###############################
*/


.jMalet{
	/* background-image: url('./Equipe/6.jpg');*/
	background-image: url('https://raw.githubusercontent.com/Loichmd/cabinet-perio/main/equipe/6.jpg');
	background-size:cover;
	height:434px;
	border:solid 10px #fff;
	/* width:100%; */
}

.jMaletHoverBulle1{
	background-image: url('./Equipe/7.jpg');
}

.jMaletHoverBulle2{
	background-image: url('./Equipe/6-hover.jpg');
}

/*
#jMalet:hover{
	background-image: url('./Equipe/6-hover.jpg');
}
*/

#dNisand{
	background-image: url('./Equipe/7.jpg');
	background-size:cover;
	height:434px; /* (document.body.clientHeight)/3 */
	/* width:100%; ((document.body.clientWidth)/3) - 10 */
}

#dNisand:hover{
	background-image: url('./Equipe/7-hover.jpg');
}

#Lafont{
	background-image: url('./Equipe/9.jpg');
	background-size:cover;
	height:434px;
	/* width:100%; */
}

#Lafont:hover{
	background-image: url('./Equipe/9-hover.jpg');
}




/*
.paragraphePraticien{
	opacity: 0; 
	top:-20;
	position: relative;
	visibility: hidden;
}

.paragraphePraticien p{
	color:#fff;
	text-align:center;
}


.paragraphePraticien h3{
	color:#fff;
	text-align:center;
}
*/

/* Praticien Dr Malet */
		.paragraphePraticienMalet{
			opacity: 0; 
			top:187;
			position: relative;
			text-align: center;
			color:#fff;
			height:80px;
			width:100%;
			background: rgb(0,42,58);
			background: linear-gradient(0deg, rgba(0,42,58,1) 0%, rgba(0,42,58,1) 100%); 
		}

		.paragraphePraticienMalet p{
			color:#fff;
		}

/*
		.blackItem{
			height:80px;
			width:100%;
			position:relative;
			top: 157;
			background-color: red;
		}
*/

/* Praticien Dr Nisand */
		.paragraphePraticienNisand{
			opacity: 0; 
			top:-20;
			position: relative;
			text-align: center;
			color:#fff;
		}

		.paragraphePraticienNisand p{
			color:#fff;
		}

/* Praticien Dr Nisand */
		.paragraphePraticienLafont{
			opacity: 0; 
			top:-20;
			position: relative;
			text-align: center;
			color:#fff;
		}

		.paragraphePraticienLafont p{
			color:#fff;
		}



		

		.TexteDrMalet{
			color:#fff;
			text-align: center;
			opacity: 0;
		}

		.TexteDrMalet p{
			color:#fff;
		}

		.rondPraticien{
			height:20px;
			width:20px;
			margin:10px;
			border-radius:50%;
			background-color: #fff;
		}



.p-H3-visible{
	visibility: visible !important;
}

/*
0%{
	box-shadow: 0 0 0 0 rgba(0,206, 209, 0.7);
}
40%{
	box-shadow: 0 0 0 30px rgba(0,206, 209, 0);
}
80%{
	box-shadow: 0 0 0 50px rgba(0,206, 209, 0);
}
100%{
	box-shadow: 0 0 0 60px rgba(0,206, 209, 0);
}
*/


/* 
#######################
	Pop-UP OLD
#######################
*/


	/* Premiere PopUp */
		#myBtn{
			color:#008aae;
			float:right;
			cursor: pointer;
			font-size:13px;
			border-radius: 50%;
			border: solid 1px #008aae;
			height:20px;
			width:20px;
			margin-top:-40px;
			margin-right:-25px;
		}

		#myBtn:hover{
			box-shadow: 1px 1px 10px rgba(0,206, 209, 0.7);
		}

		.modal {
			display: none; /* Hidden by default */
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			padding-top: 20%; /* Location of the box */
			left: 0;
			top: 0;
			width: 100%; /* Full width */
			height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}
		
		/* Modal Content */
		.modal-content {
			background-color: #fff;
			margin: auto;
			padding: 20px 80px;
			border: 1px solid #002a3a;
			width: 80%;
		}
		
		/* The Close Button */
		.close {
			color: 008aae;
			float: right;
			font-size: 28px;
			font-weight: bold;
			margin-right: -70px;
			margin-top: -20px;
		}
		
		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}



	/* Deuxième PopUp */

		#myBtn-2{
			color:grey;
			cursor: pointer;
			font-size:13px;
			height:20px;
			width:20px;
			margin-top:-40px;
			margin:15px auto -15px;
			border-radius: 50%;
			border: solid 1px grey;
			/*
			float:right;

			margin-right:-25px;
			*/
		}

		#myBtn-2:hover{
			/* box-shadow: 1px 1px 10px rgba(0,206, 209, 0.7); */
		}

		.modal-2 {
			display: none; /* Hidden by default */
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			padding-top: 20%; /* Location of the box */
			left: 0;
			top: 0;
			width: 100%; /* Full width */
			height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}
		
		/* Modal Content */
		.modal-content-2 {
			background-color: #fff;
			margin: auto;
			padding: 20px 80px;
			width: 50%;
			box-shadow: 0 0 0 30px rgba(0,206, 209, 0);
		}
		
		/* The Close Button */
		.close-2 {
			color: 008aae;
			float: right;
			font-size: 28px;
			font-weight: bold;
			margin-right: -70px;
			margin-top: -20px;
		}
		
		.close-2:hover,
		.close-2:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}








/* 
#######################
	Slideshow équipe
#######################
*/		


.slideshow-container{
    margin-top:4vw;
    overflow:hidden;
    min-height:60vh;
    cursor:grab;
    position:relative;
}

.slideshow-container:active{
    cursor:grabbing;
}


.slideshow{
    position:absolute;
    height:100%;
    display:flex;
    pointer-events:none; 
}

.slide{
    flex-shrink:0;
    height:100%;
    width:40vw;
    background-size: cover;
    background-position: center;
    position:relative;
}

.slide:not(:nth-child(1)){
    margin-left:10px;
}


.slide{
    display: flex;
    justify-content: center;
    align-content: center;
    color:red;
    height:100%;
}

.overlay:hover{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: rgba(0,0,0,0.50);
}




.s1 {
    background-image: url("./equipe/2.jpg");
  }

.s1:hover{
	background-image: url("./equipe/6-hover.jpg");
}
  
  .s2 {
    background-image: url("./equipe/3.jpg");
  }
  
  .s3 {
    background-image: url("./equipe/4.jpg");
  }
  
  .s4 {
    background-image: url("./equipe/5.jpg");
  }
  
  .s5 {
    background-image: url("./equipe/9.jpg");
  }


/* 
#######################
	Footer
#######################
*/

footer{
	height:200px;
	width:100%;
	background-color:#002a3a ;
}




/* 
#######################
	Personnalisation de l'info bulle dnas le SVG
#######################
*/

.tippy-box {
	background-color: #002a3a !important;
}

.tippy-arrow {
	background-color: #002a3a !important;
}








/*
	#################################
		Media Queries
	#################################
*/


/* A partie de 900 de large */

@media screen and (max-width:900px){
	.container-logo-accueil{
		height:13vh;
	}

	.logo{
		height:100px;
		width:180px;
		padding-left:0px;
	}
}





@media screen and (max-width:500px){


	/* On supprime la possibilité de scroller */
			html, body{
				overflow-x:hidden;
			}

			body{
				position:relative;
			}
	

	/* Partie accueil */

			container-logo-accueil{
				height:10vh;
			}

			.container-logo-accueil p{
				font-size:10px;
			}


			.logo{
				height:80px;
				width:150px;
			}


			.container-circle{
				height:60vh;
			}

			.cercle-3{
				height:300px;
				width:300px;
			}

			.cercle-2{
				height:250px;
				width:250px;
			}



	.FontMessageBienvenue{
		font-family: "SfProDisplayRegular", sans-serif;
		font-size: 30px !important;
		color: #fff !important;
		background-color:green;

	}
	


	.h1BienvenuePerio{
		padding: 80px 20px;
	}

	.texteBleuFdBlanc{
		padding: 100px 20px;
	}

	.tdBorderTextAlign, .fdRoseTxtBleu, .texteVertFdBlanc{
		padding: 60px 10px;
		vertical-align: top;
	}


	.TxtGris{
		padding:0px 20px 60px 20px;
	}

	

	/* texte dans les blocs Traitements */
	.textCache p{
		padding: 10px 0px;
	}

	/* Partie présentant les valeurs du cabinet Perio (en bas de page) */
	.fondBleu{
		padding: 50px 20px;
	}


	.slideshow-container{
		min-height: 40vh;
	}
}