*, ::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "SfProDisplayRegular"; src: url("./SFPRODISPLAYREGULAR.OTF");
}

body{
	background: #002a3a;
	font-family: "SfProDisplayRegular", Arial, Helvetica, sans-serif;
	height: 100vh;
	overflow-x: hidden;
	position: relative;
	line-height: 25px;
}

p{
	color: #002a3a;
	font-size:18px;
}

.texteBlanc{
	color:#fff;
}

.texteCentre{
	text-align:center;
}

h1{
	font-family: "SfProDisplayRegular", sans-serif;
	font-size: 50px;
	color: #002a3a;
	text-align:center;
	padding:0px 0px 40px 0px;
	line-height: 45px;
}

h2{
	color:#002a3a;
	font-size:40px;
	text-align: center;
	background-color: #fff;
	padding: 50px 0px;
}


h3{
	font-weight: bold;
}


.fondBleu{
	background-color: #002a3a;
	padding:80px 120px;
}



/* 
	###############################
			Chargement de la page
	###############################  
*/


.container-logo-accueil{
	height:20vh;
	width:100%;
	display: flex;
	align-items:center;
	justify-content: space-between;
}

.logo{
	position:relative;
	opacity: 1;
	padding-top:20px;
	padding-left:30px;
	height:150px;
	width:230px;
}

.traductionAccueil{
	color:#FFF;
	margin-right:30px;
	position:relative;
}

.traductionAccueil:hover{
	text-decoration:underline;
}

.container-circle{
	height:65vh;
	width:100%;
	border: 0px solid #fff;
	display: flex;
	align-items:center;
	justify-content: center;
}

.cercle-1{
	display:flex;
	justify-content:center;
	align-items:center;
	border: solid 6px #fff;
	height:300px;
	width:300px;
	border-radius: 50%;
}


.animation-cercle{
	animation: animateCircle 1.5s linear infinite;
}

@keyframes animateCircle {
	0%{
		opacity: 1;
		transform: scale(1.0)
	}

	50%{
		opacity: 0.5;
		transform: scale(0.9)
	}
	100%{
		opacity: 1;
		transform: scale(1.0)
	}
}


.circle-2{
	display:flex;
	justify-content:center;
	align-items:center;
	height:250px;
	width:250px;
	background:linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,42,58,1) 35%, rgba(51,221,221,1) 100%);
	border-radius: 50%;
}

.circle-2 p{
	color:#fff;
}


.container-reseaux{
	height:15vh;
	width:100%;
	border: 0px solid #fff;
}

.reseaux-sociaux{
	height:100px;
	width:200px;
	color:#fff;
	display:flex;
	justify-content: space-around;
	align-items: center;
	margin:0 auto;
	position:relative;
}


/* 
	###############################
			Message de Bienvenue
	###############################  
*/


.FontMessageBienvenue{
	font-size: 50px;
	color: #fff;

}

.messageBienvenue{
	visibility: hidden;
}


.messageBienvenueActive{
	z-index: 1;
	position:absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height:90vh;
	width:100%;
	opacity:0;

}


/*
	###############################
			Navbar
	###############################
*/


.navbar{
	position:fixed;
	width:100%;
	opacity:0;
	height: 70px;
	top:0;
	left:0;
	background:transparent;
}

.navbar img{
	height: 60px;
}

.stickyin{
	background-color: #002a3a;
	animation: navbaropacityin 0.5s linear;
	z-index: 1;
}

@keyframes navbaropacityin {
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}


.stickyout{
	background:transparent;
	animation: navbaropacityout 0.5s linear;
}

@keyframes navbaropacityout {
	0%{
		opacity: 1;
	}
	
	100%{
		opacity: 0;
	}
}



.navbar img{
	padding: 10px 0px 0px 20px;
}


.traduction{
	text-align:right;
	color:#fff;
	margin: -46px 30px 25px 0;
	font-size:15px;
}

.traduction:hover{
	text-decoration: underline;
	cursor:pointer;
}



/*
	###############################
			Video de présentation du cabinet
	###############################
*/

.video{
	position:relative;
	width:100%;
	background:#f1f1f1;
	visibility: hidden;
	z-index:2;
}

.video_size{
	width:100%;
}

.video.visible{
	visibility: visible;
}


/*
	###############################
			Présentation cabinet
	###############################
*/

.ContainerBienvenue{
	padding: 80px 5% 50px;
	background-color: #fff;
}


.intro{
	text-align:center;
	margin-bottom:30px;
}


.TxtGris{
	color: grey;
	text-align:center;
}




/*
	###############################
			Les traitements
	###############################
*/

.containerTraitement{
	background-color: #fff;
}

.containers-accordeon{
	background:linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,42,58,1) 35%, rgba(51,221,221,1) 100%);
}


.accordion {
	color: #fff;
	margin: 0px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 30px;
	transition: 0.4s;
	padding:18px 0px;
}


.textCache {
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	text-align:left;
}

.textCache p{
	padding:10px 60px;
}



.Maladie-Paro-containers, .Implants-container, .container-Traitement-Visee, .containers-reconstruction-osseuse, .containers-accompagnement-traitements-ortho, .containers-exaction-dents-incluses{
	width:100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:auto 1fr auto;
}


.bloc-Maladie-Paro, .Implants-bloc, .Traitement-visee-bloc, .reconstruction-osseuse-bloc, .bloc-accompagnement-traitements-ortho, .bloc-exaction-dents-incluses{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin:3px;
	text-align: center;
	padding:30px 5px 0px 5px;
}


.bloc-Maladie-Paro:not(:nth-child(1)), .Implants-bloc:not(:nth-child(1)), .Traitement-visee-bloc, .reconstruction-osseuse-bloc, .bloc-accompagnement-traitements-ortho, .bloc-exaction-dents-incluses{
	background:#faf9fe;
}


#Maladie-Paro-bloc1, #Maladie-Paro-bloc6{
	grid-column: span 2;
}


.Implants-bloc{
	color:#008aae;    
}

#Implant-Bloc1{
	grid-column: span 2;
}


.reconstruction-osseuse-bloc{
	color:#008aae;
}

.bloc-exaction-dents-incluses{
	color:#008aae;
}

.accordion:hover {
text-decoration: underline;
}

.accordion:after {
content: '\002B';
color: #fff;
font-weight: bold;
float: right;
margin-right:18px;

}

.toggle-sur-Moins:after {
content: "\2212";
}





/* 
	###############################
			L'équipe
	###############################
*/


.ContainerEquipeAVotreEcoute{
	padding:50px 5% 30px;
	background-color: #ffffff;
}


.containerPraticiens {
  display: flex;
  flex-wrap: wrap;
}

.praticiens {
  position: relative; 
  width: 50%;
  box-sizing: border-box;
}

.praticiens img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.praticiens:hover img {
  opacity: 0.2;
}

.praticiens:hover::before {
  opacity: 1;
}

.praticiens .overlayPraticiens {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
	width:90%;
}

.praticiens:hover .overlayPraticiens {
    opacity: 1;
}

.praticiens .overlayPraticiens h3 {
    font-size: 45px;
    margin-bottom: 10px;
}

.praticiens .overlayPraticiens p {
    font-size: 14px;
    margin-bottom: 20px;
	color:#ffffff;
}


.overlayPraticiens button{
	background-color: #899DA6;
	border-radius: 50px;
	padding: 5px 20px 7px;
	border: none;
}

.overlayPraticiens button a{
	color: #fff;
}

.slideshow-container{
    margin-top:4vw;
    overflow:hidden;
    min-height:50vh;
    cursor:grab;
    position:relative;
}

.slideshow-container:active{
    cursor:grabbing;
}


.slideshow{
    position:absolute;
    height:100%;
    display:flex;
    pointer-events:none; 
}

.slide{
    flex-shrink:0;
    height:100%;
    width:35%;
    background-size: cover;
    background-position: center;
    position:relative;
}

.slide:not(:nth-child(1)){
    margin-left:10px;
}


.slide{
    display: flex;
    justify-content: center;
    align-content: center;
    height:100%;
	width:300px;
}

.overlay:hover{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: rgba(0,0,0,0.50);
}

.s1 {
    background-image: url("./Dounia_assistante_cabinet_perio.JPG");
}
  
.s2 {
background-image: url("./Emilie_assistante_cabinet_perio.JPG");
}
  
.s3 {
background-image: url("./Germaine_assistante_cabinet_perio.JPG");
}

.s4 {
background-image: url("./Magalie_assistante_cabinet_perio.JPG");
}

.s5 {
background-image: url("./Mariana_assistante_cabinet_perio.JPG");
}

.s6 {
background-image: url("./Marion_assistante_cabinet_perio.jpg");
}

.s7 {
background-image: url("./Valeria_assistante_cabinet_perio.JPG");
}

.s8 {
background-image: url("./Yasmine_assistante_cabinet_perio.JPG");
}




/* 
#######################
	Footer
#######################
*/

footer{
	height:200px;
	width:100%;
	background-color:#002a3a ;
}


footer{
	color:#fff;
	margin: 50px 0px 50px 0px;
}

.container-wrapperFooter {
  display: flex;
  justify-content: center;
  margin-bottom:5px;
}

.rsFooter{
	padding:0 5px 0px 5px;
}

.containerFooterInfos {
  display: flex;
  flex-wrap: wrap;
}

.elementFooterInfos {
  padding: 30px 20px 0px 20px;
  box-sizing: border-box;
  color:#fff;
  text-align:center;
}

.containerFooterInfos .elementFooterInfos:nth-child(2) {
  color: white;
}

.grasFooter{
	font-weight: bold;
}

.texteHeureOuvertureFooter{
	color:#fff;
	text-align:center;
}


.textCopyright{
	color:#fff;
	font-size: 12px;
	margin: 30px 0px;
	text-align: center;
}





/*
	#################################
		Media Queries
	#################################
*/

@media only screen and (min-width: 768px) {
	.praticiens {
	  width: 33.33%;
	}
}

@media screen and (max-width:900px){
	.container-logo-accueil{
		height:13vh;
	}

	.logo{
		height:100px;
		width:180px;
		padding-left:0px;
	}
	
}


@media (max-width: 768px) {
	p{
		font-size:16px;
	}

	.FontMessageBienvenue{
		font-family: "SfProDisplayRegular", sans-serif;
		font-size: 40px;
		text-align:center;
	}

	.accordion{
		font-size:20px;
	}

	.bloc-exaction-dents-incluses p{
		font-size: 15px;
	}

	.praticiens:hover img {
		opacity: 0.99;
	  }

	.praticiens .overlayPraticiens {
		position: relative;
		transform: none;
		color: #fff;
		opacity: 1;
		transition: none;
		width: 100%;
		top:0;
		left:0;	
		padding:10px 0px 30px;
	}

	.praticiens .overlayPraticiens h3{
		font-size: 25px;
		margin-bottom:0px;
	}

	.praticiens .overlayPraticiens p{
		margin: 0px 15px 15px 15px;
	}


	.overlayPraticiens p{
		line-height: 18px;
	}

	.slide{
		width:213%;
	}

	.slideshow-container{
		min-height:30vh;
	}

	.elementFooterInfos {
		width: 100%; 
		padding: 5px 20px 0px 20px;
		font-size: 15px;
	  }
  
	  .containerFooterInfos{
		  margin-top: 30px;
	  }
  
	  .texteHeureOuvertureFooter{
		  font-size:15px
	  }
  }
  

@media screen and (max-width:500px){
	.container-logo-accueil p{
		font-size:10px;
	}

	.logo{
		height:80px;
		width:150px;
	}

	.container-circle{
		height:60vh;
	}

	.cercle-1{
		height:230px;
		width:230px;
	}

	.circle-2{
		height:200px;
		width:200px;
	}

	.FontMessageBienvenue{
		font-size: 30px;
		line-height: 30px;
	}


	.tdBorderTextAlign, .fdRoseTxtBleu, .texteVertFdBlanc{
		padding: 60px 10px;
		vertical-align: top;
	}
	
	.textCache p{
		padding: 10px 0px;
	}

	.slideshow-container{
		min-height: 40vh;
	}

	.ContainerValeur{
		padding: 0px 20px 50px 20px;
	}

	.elementFooterInfos {
	  width: 100%; 
	  padding: 5px 20px 0px 20px;
	  font-size: 15px;
	}

	.containerFooterInfos{
		margin-top: 30px;
	}

	.texteHeureOuvertureFooter{
		font-size:15px
	}

}
 
@media only screen and (max-width: 470px) {
	.overlayPraticiens button{
		line-height: 14px;
		margin: 0px 10px;
	}
}
